language: go
sudo: required
go:
  - 1.8
  - 1.9
  - 1.x
install:
  - go get github.com/daviddengcn/go-colortext
  - go get github.com/mattn/gom
  - go get github.com/onsi/ginkgo/ginkgo
  - go get github.com/onsi/gomega
script:
  - $HOME/gopath/bin/gom install
  - $HOME/gopath/bin/gom exec ginkgo -r -skipPackage vendor
